#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
}

.tv-container{
  background: linear-gradient(121deg, #F2F2F2 0%, #ECECEC 100%);
}

.footer-links{
  text-decoration: none;
  color: #ffffff;
  &:hover{
    text-decoration: underline;
  }
}

.cart-image-container{
  background: linear-gradient(121deg, #F2F2F2 0%, #ECECEC 100%);
}

.filterIcon-container{
  border-radius: 100px;
  background: #EEE;
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 3px 11.4px 0px rgba(0, 0, 0, 0.25);
}

input:focus-visible {
  outline: none;
    /* outline: 1px solid #a9aaab; */
    /* border: 1px solid #f913f9; */
}

.total-container{
  border-top: 1px dashed #404040;
  padding-top: 8px;
}

.payment-shipment-sub-container{
  border-top: 1px dashed #404040;
  border-bottom: 1px dashed #404040;padding-top: 8px;
  padding-bottom: 8px;
}

.paymentConfirmation-container{
  background: rgba(0,0,0,0.5);
}

